<link rel="stylesheet" href="<?php echo CSS_DIR; ?>/show_info.css">

    <section class="banner">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          
          <div class="swiper-slide">
            <img src="<?php echo IMG_DIR; ?>/public/banner1.png" alt="">
          </div>
          <div class="swiper-slide">
            <img src="<?php echo IMG_DIR; ?>/public/banner2.jpg" alt="">
          </div>

        </div>
        <div class="swiper-pagination"></div>
      </div>
    </section>
    <?php if($case_detadils=='') echo '<script>alert("没有更多资讯");history.go(-1);</script>'; ?>

	<section class="location">
      <div class="container">
        <div class="row">
          <div class="position col-xs-11 col-xs-offset-1 col-md-11 col-md-offset-1">
            <p>当前位置：<span>案例展示 &gt; </span><span><?php echo $case_detadils['case_type_name1'] ?> &gt; </span><span><?php echo $case_detadils['case_name']; ?></span></p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="service">
      <div class="container titled">
        <h1><?php echo $case_detadils['case_name']; ?>作品展示</h1>
        <div class="row">
			  <div class="description col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
				<p class="desc">
				<?php echo $case_detadils['case_desc']; ?>
				</p>
				<p>
					<img src="<?php echo ROOT.'/admin/'; ?><?php echo $case_detadils['case_img'] ?>" alt="" class="img-responsive" />
				</p>
				<p class="desc">
				<?php echo $case_detadils['case_desc']; ?>
				</p>
				<p>
					<img src="<?php echo ROOT.'/admin/'; ?><?php echo $case_detadils['case_img'] ?>" alt="" class="img-responsive" />
				</p>
				<p class="desc">
        <?php echo $case_detadils['case_desc']; ?>
				</p>
				<p>
					<img src="<?php echo ROOT.'/admin/'; ?><?php echo $case_detadils['case_img'] ?>" alt="" class="img-responsive" />
				</p>
			</div>
        </div>
        
        <div class="row page">
          <div class="col-xs-4 col-sm-4 prev">
            <p><a href="case_details.php?case_id=<?php echo($case_id-1);?>">上一个案例</a></p>
          </div>
          <div class="col-xs-4 col-sm-4 home">
            <p><a href="index.php">返回首页</a></p>
          </div>
          <div class="col-xs-4 col-sm-4 next">
            <p><a href="case_details.php?case_id=<?php echo($case_id+1);?>">下一个案例</a></p>
          </div>
        </div>
      </div>
    </section>
   